.animation1, .animation2, .animation3, .animation4, .animation5, .animation6, .animation7, .animation8, .animation9, .animation10{display:none;}
*{overflow:hidden;}
.titreGeneral{grid-template-rows:70fr 2fr;}
.titreGeneral header{border:0;}
body{background:rgb(52, 54, 66);color:white;display:grid;grid-template-columns:5fr 2fr;grid-template-rows:10fr 60fr 2fr;font-size:2vw;margin:0;}
aside{max-height:65%;}
html, body, nav{height:100%;}
header, nav{grid-column-start:1;grid-column-end:3;}
nav{display:grid;grid-template-columns:repeat(16, 1fr);border-top:white 1px solid;}
header{border-bottom:white 1px solid;}
nav a{display:block;height:100%;width:100%;background-color:#134a80;}
#courant ~ a{background-color:rgb(52, 54, 66);}
h1, h2, h3{text-align:center;}
a{color:inherit;}
.center{text-align:center;}
del, ins{padding:0, 6px, 0, 6px;}
del{text-decoration:line-through;background-color:#ff4949;}
ins{text-decoration:none;background-color:#56a12b;}
.greenIT{background:url('medias/Ugreen.svg') no-repeat;}
.access{background:url('medias/Uaccess.svg') no-repeat;}
.perf{background:url('medias/Uperf.svg') no-repeat;}
.seo{background:url('medias/Useo.svg') no-repeat;}
.greenIT, .access, .perf, .seo{min-height:60px;background-position:0 5px;background-size:60px 60px;padding-top:5px;}
.greenIT p, .access p, .perf p, .seo p{background-color:white;margin:0 0 10px 60px;border-radius:0 10px 10px 10px;color:black;padding:10px;}
main img{display:block;margin:auto;}
h1{font-size:4vw;}
h2{font-size:3vw;}
h3{font-size:2vw;padding-top:20vh;}
main p{margin-left:40px;}
main, aside{padding:0 10px 0 10px;}
li::before{content:"⇾ ";}
#accolade{display:grid;grid-template-columns:4fr 1fr;align-items:flex-end;}
#accolade p{grid-template-columns:1fr 1fr;align-items:center;}
#accolade span{margin-top:-2vw;font-size:12vw;}